body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: #81dbb8;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}
h1 {
    text-align: center;

}